__pycache__/
*.py[cod]
*.egg-info/
.DS_Store
.env
.env.*
!.env.example
.idea/
.nox/
.private/
.pyre/
.pyright/
.tox/
.vscode/
.coverage
coverage.xml
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
*.log
*.prof
build/
dist/
htmlcov/
site/
wheelhouse/
